PORT=5000

DB_URL=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=indianet

JWT_SECRET=change-this-to-a-long-random-string

CLIENT_URL=https://indianet.equvinoxis.com
CORS_ORIGINS=https://indianet.equvinoxis.com
SUPPORT_EMAIL=team@equvinoxis.com

MAIL_USER=info@equvinoxis.com
MAIL_PASS=your-google-app-password
MAIL_FROM=Indianet <info@equvinoxis.com>

ADMIN_MAIL=team@equvinoxis.com
ADMIN_EMAIL=team@equvinoxis.com
ADMIN_PASSWORD=change-me-strong-password

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_S3_BUCKET=indianet-equvinoxis
S3_PUBLIC_URL=https://indianet-equvinoxis.s3.eu-north-1.amazonaws.com
